<div class="profile-cover">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/logos/v4RBQwZ63TeaNDgBAYhUSlX0A0jVY3lynSc8rluI.png" width="100%">
</div>
<video autoplay controls loop style="width:100%">
            <source src="https://storage.googleapis.com/filestorage_valvr2020/websiteVideo/supercut_new.mp4" type="video/mp4">
            <source src="https://storage.googleapis.com/filestorage_valvr2020/websiteVideo/e7f19da88ff5ddc4f5b6939874c2bd82ab2040af.webm" type="video/webm">
            <source src="https://storage.googleapis.com/filestorage_valvr2020/websiteVideo/e7f19da88ff5ddc4f5b6939874c2bd82ab2040af.ogv" type="video/ogg">
          </video>

<div class="container">

<mat-card>
   <div fxLayout="row wrap">
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">
<p class="text"><span style="font-size:18px; font-weight:700;">The Virtual Athletics League(VAL)</span> is dedicated to bringing joy and absolute energy behind VR esports to the world.  It's all about the adrenaline and energy that comes from this new type of sport. VAL focuses its efforts on the three main pillars of international VR esports:<br> <br> 
   Working with game developers to prepare their games with the tools necessary to support esports events. 
   <br><br> Helping VR arcades to become top tier VR esports centers and host their own tournaments.<br> <br> And for competitors in VAL events worldwide, to not just play the hero, but be the hero!
   </p>


<div>
       <button (click)="goSignup()" class="mat-primary radius-none mat-raised-button mat-button-base" mat-raised-button="">SIGN UP</button>
</div>
     

      </div>
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">
         <img src="https://storage.googleapis.com/filestorage_valvr2020/websiteImages/CoupleVR.jpeg" alt="">     </div>
</div>
</mat-card>

<mat-card>
   <div fxLayout="row wrap">
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">

    <img src="https://storage.googleapis.com/filestorage_valvr2020/websiteImages/femaleVRPlayer.jpeg" alt="">
</div>
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">
         <p class="text"><span style="font-size:18px; font-weight:700;">What is VR esports</span><br>
Traditional esports has quickly become a premier global entertainment stream and has forever changed the world’s perception of the video game industry. <br> <br>  Competitive gaming has grown from simple LAN events to the massive stadium filled arenas with millions of viewers. <br> <br>  Now video gaming, and its competitive nature, have evolved even further thanks to virtual reality. It combines the tactics and skills of esports with new physicality and athleticism.  <br> <br> From this evolution, the Virtual Athletics League (VAL) was born.
      </p>

       </div>
</div>
</mat-card>


<mat-card>
   <div fxLayout="row wrap">
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">
<p class="text">The Virtual Athletics League is changing the way the world views VR competition in a revolutionary way. We are seeing athletes, players at home, and arcade owners break new ground in an industry with untapped growth potential. <br><br> Our mission not only facilitates that growth but also creates an initiative for the community that will be integral to VR esports.  <br><br>Arcade owners will finally have access to best practice checklists, and guides that significantly ease the burden of preparation for upcoming events.<br><br>  While participants will have access to a global arcade locator feature that includes when and where the next event will take place, nearest to them. <br><br> These are only two of the incredible features that the VAL offers to the global world of VR esports.
</p>

      </div>
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="49" fxFlex.xl="49" class="relative overlay-w">
         <div style="float:right;">
         <img src="https://l3apq3bncl82o596k2d1ydn1-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/Gif_03.gif" alt="Pistol whip MR content from LIV" >  
<figcaption>Image from Liv <a href="https://liv.tv/">https://liv.tv/</a></figcaption>
</div>
            </div>
</div>
</mat-card>

<!-- Portfolio -->

<mat-card>
   <h2 class="h2Val">
      Recent Tournaments
   </h2>

</mat-card>
<mat-card>
   <div fxLayout="row wrap">
      <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
         <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/arizweb.jpg" alt="">
      </div>
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
        <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/BeatSaber.jpg" alt="">
     </div>
     <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
      <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/BOTU3.png" alt="">
   </div>
</div>
<div fxLayout="row wrap">
 <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/island359web.jpg" alt="">
</div>


 <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/Skyfront.jpg" alt="">
</div>

 <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/SpacePirateTrainer.jpg" alt="">
</div>

 <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/SprintVector.jpg" alt="">
</div>

 <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/Battlewake.png" alt="">
</div>

<div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
   <img src="https://storage.googleapis.com/filestorage_valvr2020/tournament/towertag.png" alt="">
</div>


</div>
</mat-card>

<!-- how we do it -->

<div  fxLayout="row wrap" fxLayoutAlign="flex-start">
  <mat-card class="m8" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%" fxFlex.xl="100%"> <h2 class="h2Val">How We Help…</h2></mat-card>
  <div >
<div  fxLayout="row wrap" fxLayoutAlign="flex-start">

   <mat-card class="m8 grad-green" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.lg="30%" fxFlex.xl="30%">
      <h3 class="growthTitle">
         Game Developers<br></h3>
         <span><i class="fas fa-3x fa-code growthIcon"></i></span>

         <p class="text">
We work closely with our affiliated game developers to ensure that their titles are ready, evaluated, and optimized for tournaments. This can entail anything from ensuring that the game functions in an arcade environment, to synchronizing their API to our tournament software in order to help facilitate a seamless, low-maintenance tournament creation process.  This applies whether your game is a crowd-pleasing arcade leaderboard game or its a deeply skilled VR esports game that takes hours to master at home. </p>
      </mat-card>


     <mat-card class="m8 grad-green" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.lg="30%" fxFlex.xl="30%">
         <h3 class="growthTitle">
            Arcades
         </h3>
         <span> <i class="fas fa-gamepad  fa-3x growthIcon"></i></span>
         <p class="text">
We strive to drive participants to our partner arcades through arcade exclusive tournament incentives, such as (but not limited to) larger cash prize pools, exclusive non-monetary prizes, and possible sponsor supplied peripherals or accessories.  VAL emerged out of the VR arcade scene and has history and roots here.</p>
      </mat-card>


      <mat-card class="m8 grad-green" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.lg="30%" fxFlex.xl="30%">
         <h3 class="growthTitle">
            Players
         </h3>
         <span> <i class="fas fa-users fa-3x growthIcon"></i></span>

         <p class="text">
The main focus in a competitive environment is always on the player experience. We want players to have an awesome time when entering their latest conquest of the leaderboards or throwing down in PvP action. We want to ensure that players, of all skill levels, feel like they are treated like professional VR esports stars regardless if they are participating with a team at their arcade, or jumping into one of our online events for players in their living rooms.  For the most competitive VR athletes, we run LAN events in person.</p>
      </mat-card>
   </div>
</div>
<!-- Portfolio Need better photos-->
<!-- <mat-card>
   <div fxLayout="row wrap">
      <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
         <img src="../../../assets/images/blog-1.jpg" alt="">
         <div class="overlay-work absolute">
            <h2 class="mb-2">Omnis architecto sapiente</h2>
            <a href="#" class="link">Read More</a>
         </div>
      </div>
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
         <img src="../../../assets/images/blog-2.jpg" alt="">
         <div class="overlay-work absolute">
            <h2 class="mb-2">Omnis architecto sapiente</h2>
            <a href="#" class="link">Read More</a>
         </div>
      </div>
      <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w">
         <img src="../../../assets/images/post1.jpg" alt="">
         <div class="overlay-work absolute">
            <h2 class="mb-2">Omnis architecto sapiente</h2>
            <a href="#" class="link">Read More</a>
         </div>
      </div>
   </div>
</mat-card> -->
<!-- How to Particpate -->

<div  fxLayout="row wrap" fxLayoutAlign="flex-start">
  <mat-card class="m8 " fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"> <h2 class="h2Val">How to Participate</h2></mat-card>
  <div >
   <div  fxLayout="row wrap" fxLayoutAlign="flex-start">

      <mat-card class="mat-elevation-z2 grad-green" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48" fxFlex.lg="49" fxFlex.xl="49">
         <h3 class="growthTitle">
            Players<br></h3>
            <span><i class="fas fa-3x fa-users growthIcon"></i></span>

            <p class="text">
               <span style="font-size:18px; font-weight:700;">Signing up and Participating is free!</span><br>
               VAL is the largest independent VR esports league! We help you join games and tournaments around the world, whether that is from arcades or your home VR device!
You can view standings, tournament information, as well as brackets.<br>
You can create and join a team, as well as have priority access to our content locker where you can get tips from PRO players on how to improve your game to help you win!
<br>
               <button (click)="goSignup()" class="mat-primary radius-none mat-raised-button mat-button-base" mat-raised-button="">SIGN UP</button>
            </p>
         </mat-card>

         <mat-card class="mat-elevation-z2 grad-green" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48" fxFlex.lg="49" fxFlex.xl="49">
            <h3 class="growthTitle">
               Arcades<br></h3>
               <span><i class="fas fa-3x fa-gamepad growthIcon"></i></span>

               <p class="text">
                  <span style="font-size:18px; font-weight:700;">Arcades are free!</span><br>
                  VAL is working with developers all over the planet to help bring the best VR titles and create tournaments.<br>
We help provide key information to you, in order to help you with marketing information, and help organise and run the tournament. We also map you onto our Arcade Directory so players and teams can find you and train at <strong>your</strong> Arcade.<br>
We do all the heavy lifting so you can focus on what really matters! Which is that your customers and players are having a great time! 
 <br>
                  <button (click)="goSignup()" class="mat-primary radius-none mat-raised-button mat-button-base" mat-raised-button="">SIGN UP</button>
               </p>
            </mat-card>
         </div>

         <div  fxLayout="row wrap" fxLayoutAlign="flex-start">
           <mat-card class="m16" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"> 
            <h2 class="h2Val" style="color:black !important;">
            VAL The Fastest Growing E-Sports League in reality!</h2><br>
         </mat-card>
      </div>


      <div  fxLayout="row wrap" fxLayoutAligssn="flex-start">

         <mat-card class="m16 grad-red" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23" fxFlex.lg="24" fxFlex.xl="24">
            <span class="numbers">518</span>
            <span class="titles">Arcades</span>
         </mat-card>

         <mat-card class="m16 grad-red" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23" fxFlex.lg="24" fxFlex.xl="24">
            <span class="numbers">8</span>
            <span class="titles">Titles</span>
         </mat-card>

         <mat-card class="m16 grad-red" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23" fxFlex.lg="24" fxFlex.xl="24">
            <span class="numbers">105</span>
            <span class="titles">Active Users</span>
         </mat-card>

         <mat-card class="m16 grad-red" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23" fxFlex.lg="24" fxFlex.xl="24">
            <span class="numbers">10</span>
            <span class="titles">Global Tournments</span>
         </mat-card>


      </div>



      <!-- Partners -->

      <mat-card>
         <h2 class="text-center h2Val">Partners</h2>
      </mat-card>
      <mat-card>
         <div fxLayout="row wrap">
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="33.33"  fxFlex="100" class="m-gap p-gap" class="relative overlay-w grad-green">

               <a href="https://www.eva.gg?ref=valvr_esports" class="mat-ripple text-center "  mat-ripple="" color="primary">
                  <img src="https://storage.googleapis.com/filestorage_valvr2020/partnerships/new/eva.png" alt="EVA"></a>
            </div>
            <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w grad-green">
               <a href ="https://www.skyfrontvr.com?ref=valvr_esports" class="mat-ripple text-center "  mat-ripple="" color="primary">
                  <img src="https://storage.googleapis.com/filestorage_valvr2020/partnerships/new/skyfront.png" alt="skyfront">
               </a>
            </div>

            <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w grad-green">
               <a href="https://secretlocation.com?ref=valvr_esports" class="mat-ripple text-center "  mat-ripple="" color="primary">
                  <img src="https://storage.googleapis.com/filestorage_valvr2020/partnerships/new/secretLocation.png" alt="Secret Location">
               </a>
            </div>

            <div fxLayout="row wrap">

               <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w grad-green">
                <a href="https://survios.com?ref=valvr_esports" class="mat-ripple text-center "  mat-ripple="" color="primary"> 
                  <img src="https://storage.googleapis.com/filestorage_valvr2020/partnerships/new/survios.png" alt="Survios"></a>
               </div>

               <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" class="m-gap p-gap" class="relative overlay-w grad-green">
                <a href="https://vertigo-games.com?ref=valvr_esports" class="mat-ripple text-center "  mat-ripple="" color="primary"> <img src="https://storage.googleapis.com/filestorage_valvr2020/partnerships/new/vertigogames.png" alt="Vertigo Games"></a>
             </div>
          </div>
       </div>
    </mat-card>




    <!-- Socials -->
<app-contact></app-contact>
<!--     <mat-card>
      <h2 class="text-center h2Val">Get In Touch</h2>
   </mat-card>

   <mat-card class="p-2">
    <div class="mb-3">
        <mat-card class="p-3">
            <h2 class="font-weight-bold text-center mb-2 text-white">Drop us a Line</h2>
            <form >
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Name" type="text" name="name" required #name>
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Company Name" type="text" name="cname" required #company>
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Country" type="text" name="ctry" required #country>
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="E Mail" type="email" name="email" required #email>
                    </mat-form-field>
                <mat-form-field style="width: 100%" class="mb-2">
                        <input matInput placeholder="Write Message" type="text" name="text1" required #message>
                    </mat-form-field>
                    <button style="width: 30%" class="mat-green" mat-raised-button (click)="messageSubmission(name.value,
                    company.value,country.value,email.value,message.value)">Send</button>
                </div>
            </form>
        </mat-card>

    </div>
    <div>
    </div>
</mat-card>

               <mat-card>


<div class="social-wrapper">
    <ul>
      <li>
        <a href="https://twitter.com/valvr_esports?lang=en" target="_blank">
          <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Logo" class="twitter-icon"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/valvr_esports" target="_blank">
          <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo" class="instagram-icon"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/valvresports" target="_blank">
          <img src="https://en.facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png" alt="Facebook Logo" class="facebook-icon"></a>
      </li>
      
      <li>
        <a href="https://www.youtube.com/channel/UCHzmxuPLAW1TokB-wjp62xQ" target="_blank">
          <img src="https://lh3.googleusercontent.com/j_RwVcM9d47aBDW5DS1VkdxUYCkDUCB6wZglv4x-9SmsxO0VaFs7Csh-FmKRCWz9r_Ef=w170" alt="Youtube Logo" class="youtube-icon"></a>
      </li>
      <li>
        <a href="https://discordapp.com/invite/6sdeKM" target="_blank">
          <img src="https://banner2.cleanpng.com/20180624/ypc/kisspng-discord-computer-icons-logo-user-internet-bot-discord-icon-5b3058973c0858.6115264115298950632459.jpg" alt="Discord Logo" class="youtube-icon"></a>
      </li>
    </ul>
  </div>

               </mat-card> -->

<mat-card>
</mat-card>


            </div>

            <app-signup-modal></app-signup-modal>
