<h1>Create new task </h1>

<form>
        <mat-form-field>
                <input type="text" matInput placeholder="Task Name" #name >
        </mat-form-field>

<mat-form-field>
  <mat-label>Priority</mat-label>
  <mat-select #priority>
    <mat-option *ngFor="let priority of priorities" [value]="priority.value" >
      {{priority.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>




<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select #category>
    <mat-option *ngFor="let category of categories" [value]="category.value" >
      {{category.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
  
    
        <mat-form-field>
                <input type="text" placeholder="Description" #desc matInput>
        </mat-form-field>

        
        <!-- TODO bring in from server list-->
        <p>             
                <button mat-raised-button type="submit" color="secondary"  class="mat-raised-button mat-button-base mat-primary" 
                (click)="createArcade(
                name.value,
                priority.value,
                category.value,
                desc.value)"> Update </button>

        </form>