<div class="relative">
  <div class="form-bg">
    <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
      <div fxLayout="column" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="35" fxFlex.sm="80" fxFlex.xs="90">
        <mat-card class="login-session">
          
            <img class="logoLogin" src="https://storage.googleapis.com/val-log/logo.png" alt="VAL Logo">
            <p style="text-align: center; font-weight:700">Beta</p>

    <form>
 
        <mat-form-field>
          <input matInput placeholder="Password" type="password" name="password" required #password>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Repeat Password" type="Password" #password_confirmation required>
        </mat-form-field>
<!--         <mat-checkbox color="primary">Remember me</mat-checkbox>
 -->
      <div class="forgot-password-block">
      </div>
      <button mat-raised-button type="submit" color="primary" (click)="passwordReset(password.value,password_confirmation.value)" aria-label="Show an example snack-bar">Reset Password</button>
      <div class="link-sign-up">
        <p>Don't have an account? <a [routerLink]="['/signup']">Sign up</a></p>
      </div>
    </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>