    <div class="form-bg">
        <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
            <div fxLayout="column" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
                <mat-card class="login-session">
                    <div>

                        <img class="logoLogin" src="https://storage.googleapis.com/val-log/logo.png" alt="VAL Logo">
                        <p style="text-align: center; font-weight:700">Beta</p>
                            <h2 style="text-align: center;">Forgot Password</h2>
    <span>No problem we got your 6!<br><br>
    Enter your email below if it's on file we will send you a link to reset it. </span>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" type="email"  name="email" #email>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary"  (click)="whoami(email.value)">Submit Email</button>
      <div class="link-sign-in">
        <p>I already have an account: <a [routerLink]="['/signin']">Sign in</a></p>
      </div>
    </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
